In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
path = "gdrive/My Drive/Colab Notebooks/Deep_Learning_Week/data/HR-Employee-Attrition.csv"
hr_df = pd.read_csv(path)
hr_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [ ]:
hr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [ ]:
# grab all objects and put them in a list
attrition_cat = hr_df.dtypes[hr_df.dtypes == 'object'].index.to_list()

In [ ]:
hr_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [ ]:
# OneHotEncode cat data
enc = OneHotEncoder(sparse=False)

# Fit & transform the enc using the cat list
encode_df = pd.DataFrame(enc.fit_transform(hr_df[attrition_cat]))

# Add encoded vars to DF
encode_df.columns = enc.get_feature_names_out(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [ ]:
# Merge the encoded dataframe with the OG dataframe, then drop the categorical columns
hr_df = hr_df.merge(encode_df, left_index=True, right_index=True)
hr_df = hr_df.drop(attrition_cat, 1)
hr_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [ ]:
hr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 57 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                1470 non-null   int64
 1   DailyRate                          1470 non-null   int64
 2   DistanceFromHome                   1470 non-null   int64
 3   Education                          1470 non-null   int64
 4   EmployeeCount                      1470 non-null   int64
 5   EmployeeNumber                     1470 non-null   int64
 6   EnvironmentSatisfaction            1470 non-null   int64
 7   HourlyRate                         1470 non-null   int64
 8   JobInvolvement                     1470 non-null   int64
 9   JobLevel                           1470 non-null   int64
 10  JobSatisfaction                    1470 non-null   int64
 11  MonthlyIncome                      1470 non-null   int64
 12  MonthlyRate                        1470 non-null   int64
 13  NumCompaniesWorked                 1470 non-null   int64
 14  PercentSalaryHike                  1470 non-null   int64
 15  PerformanceRating                  1470 non-null   int64
 16  RelationshipSatisfaction           1470 non-null   int64
 17  StandardHours                      1470 non-null   int64
 18  StockOptionLevel                   1470 non-null   int64
 19  TotalWorkingYears                  1470 non-null   int64
 20  TrainingTimesLastYear              1470 non-null   int64
 21  WorkLifeBalance                    1470 non-null   int64
 22  YearsAtCompany                     1470 non-null   int64
 23  YearsInCurrentRole                 1470 non-null   int64
 24  YearsSinceLastPromotion            1470 non-null   int64
 25  YearsWithCurrManager               1470 non-null   int64
 26  Attrition_No                       1470 non-null   float64
 27  Attrition_Yes                      1470 non-null   float64
 28  BusinessTravel_Non-Travel          1470 non-null   float64
 29  BusinessTravel_Travel_Frequently   1470 non-null   float64
 30  BusinessTravel_Travel_Rarely       1470 non-null   float64
 31  Department_Human Resources         1470 non-null   float64
 32  Department_Research & Development  1470 non-null   float64
 33  Department_Sales                   1470 non-null   float64
 34  EducationField_Human Resources     1470 non-null   float64
 35  EducationField_Life Sciences       1470 non-null   float64
 36  EducationField_Marketing           1470 non-null   float64
 37  EducationField_Medical             1470 non-null   float64
 38  EducationField_Other               1470 non-null   float64
 39  EducationField_Technical Degree    1470 non-null   float64
 40  Gender_Female                      1470 non-null   float64
 41  Gender_Male                        1470 non-null   float64
 42  JobRole_Healthcare Representative  1470 non-null   float64
 43  JobRole_Human Resources            1470 non-null   float64
 44  JobRole_Laboratory Technician      1470 non-null   float64
 45  JobRole_Manager                    1470 non-null   float64
 46  JobRole_Manufacturing Director     1470 non-null   float64
 47  JobRole_Research Director          1470 non-null   float64
 48  JobRole_Research Scientist         1470 non-null   float64
 49  JobRole_Sales Executive            1470 non-null   float64
 50  JobRole_Sales Representative       1470 non-null   float64
 51  MaritalStatus_Divorced             1470 non-null   float64
 52  MaritalStatus_Married              1470 non-null   float64
 53  MaritalStatus_Single               1470 non-null   float64
 54  Over18_Y                           1470 non-null   float64
 55  OverTime_No                        1470 non-null   float64
 56  OverTime_Yes                       1470 non-null   float64
dtypes: float64(31), int64(26)
memory usage: 654.7 KB

In [ ]:
# Split the data into input (X) and output/target (y)
y = hr_df['Attrition_Yes'].values
X = hr_df.drop(['Attrition_Yes','Attrition_No'],1).values

# split the preprocessed data into testing and training sets
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=78)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
# Scale the data with StandardScaler
scaler = StandardScaler()

# fit the scaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Build the NN Model

In [ ]:
# Define the model - DEEP NEURAL NET YO
input_features = len(X_train[0]) # must equal number of variables in feature df
hidden_nodes_1 = 8
hidden_nodes_2 = 5

nn = tf.keras.models.Sequential()

# first hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_1, input_dim=input_features, activation='relu'))

# 2nd hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_2, activation='relu'))

# output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check model structure
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 448

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

#### Number of weight parameters = number of input values (55 in this case) times number of neurons. 

First layer is: 55 x 8 + 8 for bias = 448

Second layer is: 8 (from first layer) x 5 neurons for 2nd layer = 45

In [ ]:
# compile the model and define loss & accuracy metrics
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# Train the model
fit_model = nn.fit(X_train, y_train, epochs=100)

Epoch 1/100
35/35 [==============================] - 2s 4ms/step - loss: 733.1397 - accuracy: 0.8276
Epoch 2/100
35/35 [==============================] - 0s 3ms/step - loss: 384.2342 - accuracy: 0.8258
Epoch 3/100
35/35 [==============================] - 0s 2ms/step - loss: 142.3090 - accuracy: 0.7877
Epoch 4/100
35/35 [==============================] - 0s 3ms/step - loss: 26.5750 - accuracy: 0.7377
Epoch 5/100
35/35 [==============================] - 0s 3ms/step - loss: 5.2575 - accuracy: 0.7260
Epoch 6/100
35/35 [==============================] - 0s 3ms/step - loss: 1.4133 - accuracy: 0.6425
Epoch 7/100
35/35 [==============================] - 0s 3ms/step - loss: 0.8349 - accuracy: 0.7015
Epoch 8/100
35/35 [==============================] - 0s 3ms/step - loss: 0.6351 - accuracy: 0.7142
Epoch 9/100
35/35 [==============================] - 0s 4ms/step - loss: 0.5666 - accuracy: 0.7278
Epoch 10/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5605 - accuracy: 0.7368
Epoch 11/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5603 - accuracy: 0.7459
Epoch 12/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5479 - accuracy: 0.8294
Epoch 13/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5503 - accuracy: 0.8294
Epoch 14/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5405 - accuracy: 0.8294
Epoch 15/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5380 - accuracy: 0.8294
Epoch 16/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5343 - accuracy: 0.8294
Epoch 17/100
35/35 [==============================] - 0s 4ms/step - loss: 0.5374 - accuracy: 0.8294
Epoch 18/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5285 - accuracy: 0.8294
Epoch 19/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5316 - accuracy: 0.8294
Epoch 20/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5245 - accuracy: 0.8294
Epoch 21/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5206 - accuracy: 0.8294
Epoch 22/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5215 - accuracy: 0.8294
Epoch 23/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5172 - accuracy: 0.8294
Epoch 24/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5128 - accuracy: 0.8294
Epoch 25/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5170 - accuracy: 0.8294
Epoch 26/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5209 - accuracy: 0.8294
Epoch 27/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5068 - accuracy: 0.8294
Epoch 28/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5030 - accuracy: 0.8294
Epoch 29/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5053 - accuracy: 0.8294
Epoch 30/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5006 - accuracy: 0.8294
Epoch 31/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5206 - accuracy: 0.8294
Epoch 32/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5213 - accuracy: 0.8294
Epoch 33/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4969 - accuracy: 0.8294
Epoch 34/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4944 - accuracy: 0.8294
Epoch 35/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5004 - accuracy: 0.8294
Epoch 36/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5018 - accuracy: 0.8294
Epoch 37/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5085 - accuracy: 0.8294
Epoch 38/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4921 - accuracy: 0.8294
Epoch 39/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4923 - accuracy: 0.8294
Epoch 40/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5060 - accuracy: 0.8294
Epoch 41/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4863 - accuracy: 0.8294
Epoch 42/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4952 - accuracy: 0.8294
Epoch 43/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4850 - accuracy: 0.8294
Epoch 44/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4972 - accuracy: 0.8294
Epoch 45/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4887 - accuracy: 0.8294
Epoch 46/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5098 - accuracy: 0.8294
Epoch 47/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5010 - accuracy: 0.8294
Epoch 48/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4891 - accuracy: 0.8294
Epoch 49/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4824 - accuracy: 0.8294
Epoch 50/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4861 - accuracy: 0.8294
Epoch 51/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4850 - accuracy: 0.8294
Epoch 52/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4841 - accuracy: 0.8294
Epoch 53/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4826 - accuracy: 0.8294
Epoch 54/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4897 - accuracy: 0.8294
Epoch 55/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4795 - accuracy: 0.8294
Epoch 56/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4860 - accuracy: 0.8294
Epoch 57/100
35/35 [==============================] - 0s 4ms/step - loss: 0.4808 - accuracy: 0.8294
Epoch 58/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4762 - accuracy: 0.8294
Epoch 59/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4770 - accuracy: 0.8294
Epoch 60/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4889 - accuracy: 0.8294
Epoch 61/100
35/35 [==============================] - 0s 4ms/step - loss: 0.4854 - accuracy: 0.8294
Epoch 62/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4718 - accuracy: 0.8294
Epoch 63/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4984 - accuracy: 0.8294
Epoch 64/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4771 - accuracy: 0.8294
Epoch 65/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4733 - accuracy: 0.8285
Epoch 66/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4766 - accuracy: 0.8285
Epoch 67/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4773 - accuracy: 0.8276
Epoch 68/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4733 - accuracy: 0.8276
Epoch 69/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4776 - accuracy: 0.8276
Epoch 70/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4766 - accuracy: 0.8276
Epoch 71/100
35/35 [==============================] - 0s 4ms/step - loss: 0.4998 - accuracy: 0.8276
Epoch 72/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4784 - accuracy: 0.8276
Epoch 73/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4772 - accuracy: 0.8276
Epoch 74/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5135 - accuracy: 0.8230
Epoch 75/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4825 - accuracy: 0.8276
Epoch 76/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4705 - accuracy: 0.8276
Epoch 77/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4768 - accuracy: 0.8276
Epoch 78/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4714 - accuracy: 0.8276
Epoch 79/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4795 - accuracy: 0.8276
Epoch 80/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4713 - accuracy: 0.8276
Epoch 81/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4686 - accuracy: 0.8276
Epoch 82/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4687 - accuracy: 0.8276
Epoch 83/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4725 - accuracy: 0.8276
Epoch 84/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4718 - accuracy: 0.8276
Epoch 85/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4797 - accuracy: 0.8276
Epoch 86/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4746 - accuracy: 0.8276
Epoch 87/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4699 - accuracy: 0.8276
Epoch 88/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4717 - accuracy: 0.8276
Epoch 89/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4713 - accuracy: 0.8276
Epoch 90/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4722 - accuracy: 0.8276
Epoch 91/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4684 - accuracy: 0.8276
Epoch 92/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4731 - accuracy: 0.8276
Epoch 93/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4783 - accuracy: 0.8276
Epoch 94/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4803 - accuracy: 0.8276
Epoch 95/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4786 - accuracy: 0.8276
Epoch 96/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4772 - accuracy: 0.8276
Epoch 97/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4664 - accuracy: 0.8276
Epoch 98/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4701 - accuracy: 0.8276
Epoch 99/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4656 - accuracy: 0.8276
Epoch 100/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4662 - accuracy: 0.8276

In [ ]:
# Evaluate model performance
model_loss, model_accuracy = nn.evaluate(X_test, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.3935 - accuracy: 0.8723 - 340ms/epoch - 28ms/step
Loss: 0.3935394287109375, Accuracy: 0.8722826242446899