In [11]:
import pandas as pd
import psycopg2
import sqlite3
from sqlalchemy import create_engine, inspect, insert, update, select, Table, Column, Integer, String, MetaData
from config import username, pw, port, dbName, host

In [4]:
engine = create_engine(f"postgresql+psycopg2://{username}:{pw}@{host}:5432/{dbName}")

In [40]:
# connection string
db_path = "db.sqlite"
conn_string = f"sqlite:///{db_path}"

# Create an engine that can talk to the database
engine = create_engine(conn_string, echo = False)

In [41]:
# Get the name of the table. 
inspector_gadget = inspect(engine)
inspector_gadget.get_table_names()

['db']

In [34]:
md_obj = MetaData()

In [35]:
# Create the table
table = Table(
    "db",
    md_obj,
    Column("id", Integer, primary_key = True),
    Column("name", String(30)),
    Column("food", String(30))
)

In [36]:
# construct the table object for queries
table = Table('db', md_obj)

In [38]:
table.create(engine)

In [ ]:
inspector_gadget.inspe()

[]

In [42]:
# Create a row of data to be inserted into the table and send it
insr = insert(table).values(id = 1, name = "Chuck", food = "Zebra Cakes")

with engine.connect() as conn:
    result = conn.execute(insr)
    conn.commit()

In [43]:
# get all columns in table and into a Dataframe
query = """
        SELECT
            *
        FROM
            db
"""

conn = engine.connect()
df = pd.read_sql(query, conn)
df

   id   name         food
0   1  Chuck  Zebra Cakes

In [9]:
from aws_advanced_python_wrapper import AwsWrapperConnection
from psycopg2 import connect
from config import username, pw, port, dbName, host

In [ ]:
awsconn = AwsWrapperConnection.connect(
        connect,
        f"host={host} dbname={dbName} user={username} password={pw} plugins=failover wrapper_dialect=pg"
)